name: build

permissions: write-all

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: ${{ matrix.os }} / GHC ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        ghc:
          - 9.10.1
    steps:
      - uses: actions/checkout@v3
      - uses: hspec/setup-haskell@v1
        with:
          ghc-version: ${{ matrix.ghc }}
        id: setup

      - run: cabal update
      - run: cabal configure --enable-tests --enable-documentation
      - run: cabal build all --dry-run

      - uses: actions/cache/restore@v3
        id: cache
        env:
          key: ${{ runner.os }}-ghc-${{ steps.setup.outputs.ghc-version }}
        with:
          path: ${{ runner.os == 'Windows' && 'C:/cabal/store/' || runner.os == 'macOS' && '~/.cabal/store/' || '~/.local/state/cabal/store/' }}
          key: ${{ env.key }}-${{ hashFiles('dist-newstyle/cache/plan.json') }}
          restore-keys: ${{ env.key }}-

      - run: cabal build all --only-dependencies

      - uses: actions/cache/save@v3
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: ${{ runner.os == 'Windows' && 'C:/cabal/store/' || runner.os == 'macOS' && '~/.cabal/store/' || '~/.local/state/cabal/store/' }}
          key: ${{ steps.cache.outputs.cache-primary-key }}

      - run: cabal build all

      - run: cabal test all --test-show-details=direct
        env:
          HSPEC_FAIL_ON: pending,focused,empty-description

      - run: cabal haddock

      - run: cabal install doctest
      - run: cabal repl --build-depends=QuickCheck --build-depends=template-haskell --with-ghc=doctest --repl-options='-w -Wdefault'

      - run: cabal install
      - run: cabal install markdown-unlit

      - run: solid -pgmL=markdown-unlit README.lhs
      - run: (cd book && make)
      # - run: (cd book && make && make toc)
      - run: git diff --quiet || (git diff && false)

      - run: |
          git tag v0.2 -f
          git push origin --tags -f
          gh release create v0.2 --prerelease || true
          gh release upload v0.2 `find dist-newstyle/build/ -name solid -type f` --clobber
        if: github.ref == 'refs/heads/main'
        env:
          GH_TOKEN: ${{ github.token }}

  success:
    needs: build
    runs-on: ubuntu-latest
    if: always() # this is required as GitHub considers "skipped" jobs as "passed" when checking branch protection rules

    steps:
      - run: false
        if: needs.build.result != 'success'

      - uses: actions/checkout@v3
      - name: Check for trailing whitespace
        run: '! git grep -I "\s\+$"'
